.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #00B0B4;
  padding: 0 5%;
}
.nav-bar .logo-text {
  color: white;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  outline: none;
}

/* TOGGLE BTN */
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 2em;
  width: 4em;
  border: 2px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(0.25em, 0.35em);
  position: absolute;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  background-color: #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.45, .45, 0, 1);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #FFFFFF;
  transform: translate(2.35em, .35em);
}

.sun-icon {
  position: absolute;
  height: 1.3em;
  width: 1.3em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 1.3em;
  width: 1.3em;
  opacity: 1;
  transform: translate(2.35em, 0.35em);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 1.3em;
  width: 1.3em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  opacity: 0;
  transform: translate(.25em, .35em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(.25em, .35em) rotate(-20deg);
}
